{% extends 'base.html.twig' %}

{% block title %}JBlain Page d'accueil{% endblock %}

{% block body %}
    <section class="container">
        <div class="row">
            <div class="col-12">
                <p>HELLO ADMIN PAGE</p>
            </div>
        </div>
    </section>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('build/app.js') }}"></script>
{% endblock %}

