
{% block body %}
    <div class = "container">
        <div>
            <h1>Activation de compte</h1>
            <p>>Bonjour, {{ user.username }} <br><br>Veuillez activer votre compte en cliquant sur le lien suivant :</p>
            <p>{{ url }}</p>
        </div>
    </div>
{% endblock %}
