
{% block body %}
    <div class = "container">
        <div>
            <h1>votre demande de nouveau mot de passe</h1>
            <p>>Bonjour, {{ user.username }} <br><br>Vous avez demandé un nouveau mot de passe de connexion. Pour réinitialiser votre mot de passe cliquez sur le lien suivant :</p>
            <p>{{ url }}</p>
        </div>
    </div>
{% endblock %}