{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <section class="container">

        <a href="{{ path('deleteUser') }}">delete account</a>

    </section>
{% endblock %}
{% block javascripts %}{% endblock %}
